doctype html
html(lang="en")
  head
    include ../includes/_meta.pug
    include ../includes/_link.pug
    title Test
  body
    include ../modules/header/header.pug
    block content        
    block script
      include ../includes/_script.pug