//* Media Query to use
@mixin tablet {
  @media (min-width: $tablet-bp) {
    @content
  }
};

@mixin desktop-sm {
  @media (min-width: $desktop-sm-bp) {
    @content
  }
};

@mixin desktop-md {
  @media (min-width: $desktop-md-bp) {
    @content
  }
};

@mixin desktop-lg {
  @media (min-width: $desktop-lg-bp) {
    @content
  }
};

//* Link Handler
@mixin link($color) {
  & {
    color: $color;

    &:visited,
    &:active,
    &:focus {
      color: $color;
    }

    body.hasHover & {
      &:hover {
        color: $color;
      }
    }
  }
}